.container {
    width: 620px;
    background-color: var(--dark-700);
    color: var(--white);
    padding-left: 1rem;

}

.container h2 {
    margin: 1rem;
}

.containerItem {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;

    strong {
        color: var(--green-900)
    }
}

.description {
    word-break: break-all;
}

.buttonOrder {
    margin-top: 1.7rem;
    background-color: rgba(0, 0, 0, 40%);
    border: 0;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    color: var(--red-900);
}

.table {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2em;
}

.hrLine {
    border-color: black;
    margin-bottom: 1rem;
}

.totalOrder {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    color: '#'
}


@media screen and (max-width:700px) {
    .container {
        width: 430px;
    }
}

@media screen and (max-width:550px) {
    .container {
        width: 330px;
    }
}